@import "tailwindcss";

:root {
  --mclaren: #FF8000;
  --mercedes: #27F4D2;
  --ferrari: #E80002;
  --red_bull: #3671C6;
  --williams: #64C4FF;
  --haas: #B6BABD;
  --rb: #6692FF;
  --aston_martin: #229971;
  --sauber: #52E252;
  --alpine: #0093CC;

  --background: var(--mclaren);
  --foreground: #ffffff;
  --font-orbitron: 'Orbitron', sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-orbitron);
}

.leaflet-control-attribution {
  background-color: #000000 !important;
  color: #eee !important;
  padding: 2px 6px !important;
  border-radius: 4px !important;
  font-size: 10px !important;
  opacity: 0.5 !important;
}

.side-panel {
  right: 0;
  height: calc(50vh - 38px);
  width: 32vw;
  overflow-y: auto;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.4);
}