@import "tailwindcss";

:root {
  --mclaren: #FF8000;
  --mercedes: #27F4D2;
  --ferrari: #E80002;
  --redbull: #3671C6;
  --williams: #64C4FF;
  --haas: #B6BABD;
  --racingbulls: #6692FF;
  --astonmartin: #229971;
  --kicksauber: #52E252;
  --alpine: #0093CC;

  --background: var(--mclaren);
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
